In [2]:
pwd

'C:\\workspace\\WASSUP\\WASSUP2\\python_grammar'

In [3]:
#291
f = open("C:\\workspace\\WASSUP\\WASSUP2\\python_grammar/매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [4]:
#292
f = open("C:\\workspace\\WASSUP\\WASSUP2\\python_grammar/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [7]:
#294
f = open("C:\\workspace\\WASSUP\\WASSUP2\\python_grammar/매수종목1.txt", encoding="utf-8")
lines = f.readlines()

In [8]:
lines

['005930\n', '005380\n', '035420']

In [12]:
stocks=[]
for i in lines:
    i.replace('\n',' ')
    stocks.append(i)

In [13]:
print(stocks)

['005930\n', '005380\n', '035420']

In [14]:
f.close()

In [17]:
#295
f = open("C:\\workspace\\WASSUP\\WASSUP2\\python_grammar/매수종목2.txt", encoding="utf-8")
lines = f.readlines()
print(lines)

['005930 삼성전자\n', '005380 현대차\n', '035420 NAVER\n']

In [21]:
stocks2={}
for i in lines:
    i=i.strip()
    a, b = i.split()
    stocks2[a]=b

In [23]:
print(stocks2)

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [15]:
#296
per = ["10.31", "", "8.00"]

In [16]:
for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [25]:
#297
per = ["10.31", "", "8.00"]
per2 = []

for i in per:
    try:
        a = float(i)
    except:
        a = 0
    per2.append(a)

In [26]:
print(per2)

[10.31, 0, 8.0]

In [28]:
#298
try:
    a = 10/0
except ZeroDivisionError:
    print("삐빅")

삐빅

In [30]:
#299
data = [1, 2, 3]

for i in range(6):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range
list index out of range

In [31]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료